@{
    ViewBag.Title = "OmSverigeEvent";
}

<h2>Om SverigeEvent</h2>
<div>
    <text>
        Sverige event är en website som samlar olika events som händer i sverige inom en snar framtid för
        sina besökare för att underlätta att hitta event. SverigeEvent visar event som allt ifrån konserter
        som man kan gå på till, Aktiviteter eller kurser för den som vill veta mera inom ett event.

        SverigeEvent äger ej dessa event utan eventen varje event länkar tillbaka till dess ägares hemsida.

        Tack går till eventägarna som tillhandahåller eventen.

        <a href="http://konvent.se/">http://konvent.se/</a>
        <a href="http://eventful.com">http://eventful.com/</a>
    </text>
</div>
