@*<nav>
    <menu class="Mymenu">
        <li><a href="#">?</a></li>
        <li><a href="#">?</a></li>
        <li><a href="#">?</a></li>
        <li><a href="#">?</a></li>
    </menu>
</nav>*@
<nav class="menu2">
    <menu class="Mymenu">
       
        <li><a href="@Url.Action("Index","Home").">På fronten</a></li>
        <li><a href="@Url.Action("Index", "Gallery")">I stockholm</a></li>
        <li><a href="@Url.Action("EventSearch", "Gallery")">Eventsök</a></li>
        <li><a href="@Url.Action("OmSverigeEvent", "Gallery")">Om sidan</a></li>
       
    </menu>
</nav>